* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #171717;
    margin: 40px;
    max-width: 100%;
    min-height: 100vh;
}
  
.cima h1 {
    display: flex;
    position: relative;
    right: 550px;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    color: #F7DF1E;
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}
  
nav p {
    display:inline;
    margin:40px ;
    position: relative;
    bottom: 35px;
    left: 450px;
    color: #afac94;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
  
.topo {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
.topo h2 {
    display: flex;
    position: relative;
    right: 150px;
    top: 150px;
    max-width: 500px;
    margin: 10px;
    color: #afac94;
    font-family: 'DM Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
  
.topo p {
    display: flex;
    position: relative;
    right: 600px;
    top: 230px;
    width: 100%;
    max-width: 264px;
    margin: 10px;
    color: var(--Gray-3, #828282);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
  
.topo button {
    position: relative;
    right: 800px;
    top: 270px;
    width: 143px;
    height: 42px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid var(--27-ae-60, #F7DF1E);
    background: #171717;
    color: #F7DF1E;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.topo button:hover{
    background-color: #F7DF1E;
    color: #afac94;
}
  .topo img {
    position: relative;
    bottom: 150px;
    left: 250px;
    width: 500px;
    height: 500px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid var(--Gray-2, #4F4F4F);
    background: #1E1D1D;
    max-width: 100%;
}
.meio h2{
    color: #afac94;
    text-align: center;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#lorem{
    position: relative;
    flex-shrink: 0;
    color: #afac94;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#imag{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    position: relative;
    top: 100px;
    left: 120px;
    max-width: 1200px;
}
#imag1,
#imag2,
#imag3{
    text-align: center;
}
#end{
    
    color: #afac94;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.quase{
    position: relative;
    top: 120px;
    padding: 50px;
    flex-shrink: 0;
    color: #afac94;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.web{
    display: flex;
    gap: 150px;
    position: relative;
    top: 80px;
    color: #535353;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}
.web p{
    position: relative;
    border: 1px solid #000;
    background: #212121;
    width: 350px;
    height: 241px;
    flex-shrink: 0; 
}
.web i{
    display: flex;
    align-items: end;
    margin: 20px;
    font-size: 60px;
}
.linha{
    width: 350px;
    height: 5px;
    flex-shrink: 0;
    background: var(--27-ae-60, #F7DF1E);
}
.fim h2{
    position: relative;
    top: 140px;
    color: #afac94;
    text-align: center;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.final{
    position: relative;
    top: 80px;
    gap: 160px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 100px;
    height: 40px;
    border: 1px solid var(--Gray-1, #333);
    background: #212121;
    margin: 100px;
}
#num{
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-family: DM Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.habilidade p{
    color: var(--27-ae-60, #F7DF1E);
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
#animate {
    opacity: 0.3;    ;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 1s;
}
#animate.show {
    opacity: 1;
    transform: translateY(0); 
}
  



   
  

